{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "exclude": ["transform-es2015-typeof-symbol"]
      }
    ]
  ],
  "plugins": [
    "transform-es2015-modules-strip"
  ]
}
