//
// Custom Select Dark Modifier Demo
//

.custom-select {

  &__option {

    .custom-select--dark & {
      color: #fff;
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {

      .custom-select--dark & {
        background-color: #1d1f20;
      }
    }

    &--value {

      .custom-select--dark & {
        background-color: #343436;
        border-color: #000;
      }
    }

    &--selected {
      background-color: darken(#1d1f20, 3%);
    }
  }

  &__input {

    .custom-select--dark & {
      border-color: #000;
    }
  }

  &__dropdown {

    .custom-select--dark & {
      background-color: #343436;
      border-color: #000;
    }
  }
}
