//
// Custom Select Block Name Demo
//

.my-select {
  $_gutter: 0.75rem;
  $_bg: #fff;
  $_bg-hover: #0077ff;
  $_color: #333;
  $_color-hover: #fff;

  position: relative;
  background-color: $_bg;

  &__option {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.375rem $_gutter;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-family: inherit;
    font-size: 1rem;
    color: $_color;
    line-height: 1.5;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      background-color: $_bg-hover;
      color: $_color-hover;
    }

    &--value {
      padding-right: $_gutter * 2 + 0.375rem;
      border: 1px solid darken($_bg, 10);
      border-radius: 0.25rem;

      &::after {
        position: absolute;
        box-sizing: border-box;
        width: 0;
        height: 0;
        top: 50%;
        right: $_gutter;
        border-width: 0.3rem;
        border-bottom-width: 0;
        border-style: solid;
        border-color: currentColor transparent;
        transform: translateY(-50%);
        content: "";

        .my-select--active & {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }
  }

  &__dropdown {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    top: calc(100% + 3px);
    left: 0;
    background-color: $_bg;
    border: 1px solid darken($_bg, 10);
    border-radius: 0.25rem;

    .my-select--dropup & {
      top: auto;
      bottom: calc(100% + 3px);
    }
  }
}
